/* CSS Variables */
:root {
    --primary-font: "Lunasima", sans-serif;
    --secondary-font: "Lexend Deca", cursive;
    --tertiary-font: "Madimi One", cursive;
    --main-dark-color: #b16f37; /* bronze */
    --sub-light-color: #5f3c3a; /* dark brown */
    --alternate-dark-color: #446494; /* dark blue */
    --alternate-light-color: #afbfe2; /*light blue */
}

/* Global Styles */
body {
  font-family: "Lunasima", sans-serif;
  color: #b16f37;
  margin: 0;
  padding-top: 0px;
  text-align: center;
}

main {
    flex: 1;
}

/* Hero Section */
.hero {
  background-image: url("../images/background.webp");
  background-size: cover;
  background-position: center;
  height: 60vh;
  min-height: 300px;
  max-height: 600px;
  position: relative;
  padding-bottom: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
    font-family: "Lexend Deca", cursive;
    color: var(--sub-light-color);

}

.hero p {
  padding-top: 0px;

}

.hero-overlay {
  position: relative;
  width: 90%;
  max-width: 900px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.77);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.search {
    justify-content: center;
}

.card-bg {
  position: relative;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
}

.card-overlay {
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translateX(-50%); 
  width: 77%;
  padding: 16px;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
}

.card-overlay .card-title {
    color: var(--main-dark-color);

}

.card-overlay .card-text {
    color: var(--alternate-dark-color);
    font-size: small;
}

/* Individual card backgrounds */
.card-bg-1 { background-image: url("../images/background.webp"); }
.card-bg-2 { background-image: url("../images/bg2.webp"); }
.card-bg-3 { background-image: url("../images/bg3.webp"); }
.card-bg-4 { background-image: url("../images/bg4.webp"); }
.card-bg-5 { background-image: url("../images/bg2.webp"); }
.card-bg-6 { background-image: url("../images/bg3.webp"); }
.card-bg-7 { background-image: url("../images/bg4.webp"); }
.card-bg-8 { background-image: url("../images/bg2.webp"); }

/* Buttons */
.custom-button {
    border: 1px solid var(--alternate-dark-color);
    background-color: var(--alternate-dark-color);
    color: white;
    font-weight: bold;
}

.custom-button:hover {
    border: 1px solid var(--alternate-light-color);
    background-color: var(--alternate-light-color);
    color: white;
    font-weight: bold;
}












/* Footer */
#contact {
    background-color: var(--main-dark-color);
    color: white;
    padding: 5rem;
    padding-bottom: 2rem;    

}

#contact h2 {
    color: white;
    margin-top: 8px;
}

#contact .social-links {
    display: flex;                  
    justify-content: center;  
}

#contact .social-links i {
    color: white;
    font-size: 1.2rem;
    margin-top: 2px;
}

#contact .social-links i:hover {
    color: var(--highlight-color);
}